# Git
.git
.gitignore

# Dependencies
node_modules

# Environment
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# CI/CD
.gitlab-ci.yml
.github

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Build
dist
build

# Misc
*.md
README.md
